body {
  background: #999999;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

textarea,
input,
button {
  font-family: 'Helvetica', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; original - looked good too */
  background: #999999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #305eac; original - looked good too */
  background: #f1f1f1;
}

a {
  cursor: pointer;
}
